
@{

    Layout = null;
    var appPath = Convert.ToString(ApplicationInstance.Application["ApplicationPath"]);
}

@model IList<Notice>

    @if (Model != null && Model.Count > 0)
    {
        int SNo = 1;
        foreach (Notice ES in Model)
        {
            <tr>
                <td>@ES.RowNum</td>
                <td>@ES.NoticeType</td>
                <td>@ES.ModifiedOn</td>
                <td><a href="@appPath/Admin/TownImprovementProject/EditProject/@ES.GUID" >Edit</a> | <a href="javascipt:void(0)" id="deletebtn" data-uniquecode="@ES.GUID" data-toggle="modal">Delete</a></td>
            </tr>
            SNo++;
        }
    }

