
@{
    ViewBag.Title = "ByLaws";    
    Layout = "~/Views/Shared/_Layout.cshtml";
    var appPath = Convert.ToString(ApplicationInstance.Application["ApplicationPath"]);
}

    <div class="mainContents">
        <div class="contactDetails desktopOnly">@Html.Partial("_contactDetails", null)</div><!--End Contact Details (Contact Num, Font size adjustment and Social Media)-->
        <div class="contactDetails mobileOnly">@Html.Partial("_contactDetails", null)</div><!--End Contact Details (Contact Numbers)-->
        <div class="pageBanner"><img src="@appPath/Contents/images/by-laws/banner-img.jpg" alt=""></div>

        <div class="byLaws">
            <div class="pageContents">
                <div class="container">
                    <div class="topBar">
                        <div class="breadcrumb"><a href="@appPath/">Home</a><span></span><a href="#">About Us</a><span></span>By-Laws</div>
                        <div class="socialShareBtns">
                            <ul>
                                <li>Share:</li>
                                <li><a href="http://www.facebook.com/sharer.php?u=http://btptc.medialabsstreaming.com/our-history.html" target="_blank"><img src="@appPath/Contents/images/common/fb-share-btn.png" alt=""></a></li>
                                <li><a href="https://twitter.com/share?text=Our History - Bishan-Toa Payoh Town Council, http://btptc.medialabsstreaming.com/our-history.html" target="_blank"><img src="@appPath/Contents/images/common/twitter-share-btn.png" alt=""></a></li>
                                <!--li><a href="#" target="_blank"><img src="images/common/google-share-btn.png" alt="" target="_blank"></a></li-->
                                <li><a href="mailto:?subject=Our History | Bishan-Toa Payoh Town Council&Body=I thought you might be interested in this article: http://btptc.medialabsstreaming.com/our-history.html"><img src="@appPath/Contents/images/common/email-share-btn.png" alt="" target="_blank"></a></li>
                                <li class="print"><a href="#" onclick="window.print();"><img src="@appPath/Contents/images/common/print-btn.png" alt="" target="_blank"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="byLawsContainer">
                        <h1>Arrangement of By-Laws</h1>

                        <p>
                            <strong>
                                Town Councils Act<br />
                                (Chapter 329A, Sections 24 and 49)<br />
                                Town Council of Bishan-Toa Payoh (Common Property and Open Spaces) By-Laws
                            </strong>
                        </p>

                        <div class="startfrom1">
                            <ul class="noPadding">
                                <li>Citation</li>
                                <li>Definitions</li>
                                <li>No parking, dumping, etc.</li>
                            </ul>
                        </div>
                        <div class="startfrom3">
                            <ul class="noPadding">
                                <li>Unauthorised structures</li>
                            </ul>
                        </div>
                        <div class="startfrom4">
                            <ul class="noPadding">
                                <li>Power to remove and detain vehicles</li>
                                <li>Repairing, painting, etc., of vehicles</li>
                                <li>Playing of games</li>
                                <li>Obstruction of common property</li>
                                <li>Obstruction of refuse chutes</li>
                                <li>Littering on common property and open spaces</li>
                                <li>Throwing objects, etc., from buildings and dangerously positioned objects</li>
                                <li>Playing of musical instruments, etc., on common property and open spaces</li>
                                <li>Damage to turf, plant, shrub or tree</li>
                                <li>Diversion of water or electricity</li>
                                <li>Display of signs</li>
                                <li>Bathing, etc., in fountains, ponds or water features</li>
                                <li>Damage to common property</li>
                                <li>Unauthorised use of common property</li>
                                <li>Service of notices</li>
                                <li>Composition of offences</li>
                            </ul>
                        </div>
                        <div class="padding10"></div>

                        <div class="startfrom1">
                            <ul>
                                <li>
                                    <strong>Citation</strong><br />
                                    These By-laws may be cited as the Town Council of Bishan-Toa Payoh (Common Property and Open Spaces) By-laws.
                                </li>
                                <li>
                                    <strong>Definitions</strong>
                                    <ul>
                                        <li>
                                            <p>In these By-laws, unless the context otherwise requires -</p>

                                            <p>“common property” and “open space” mean any common property and any open space, respectively, within the Town of Bishan-Toa Payoh;</p>

                                            <p>“housing estate” means a housing estate of the Board within the Town of Bishan-Toa Payoh;</p>

                                            <p>
                                                “mobility aid” means any of the following carrying an individual who is unable to walk or has difficulty in walking:
                                                <ul>
                                                    <li>a wheelchair (motorised or otherwise);</li>
                                                    <li>a mobility scooter as defined by the Active Mobility Act 2017 (Act 3 of 2017);</li>
                                                </ul>
                                            </p>

                                            <p>"park" means to bring a vehicle to a stationary position and cause it to remain for any purpose;</p>

                                            <p>"parking place" has the same meaning as in the Parking Places Act (Cap. 214);</p>

                                            <p>"public path" means a path declared under section 6 of the Active Mobility Act 2017 as a public path;</p>

                                            <p>"sign" includes all signals, warning sign posts, direction posts, banners and advertisements; “vehicle” means a vehicle, whether mechanically propelled or not, intended or adapted for use on the road, such as (but not limited to) a bicycle, power-assisted bicycle or personal mobility device as defined by the Active Mobility Act 2017, but excludes any mobility aid.</p>
                                        </li>
                                        <li>Nothing in these By-laws shall prohibit officers or employees of the Town Council or any person authorised by the Town Council from doing any act that is reasonably necessary or expedient in the enforcement of these By-laws.</li>

                                        <li>These By-laws do not affect the rights of the public to pass along a public path within the Town of Bishan-Toa Payoh in accordance with the Active Mobility Act 2017. </li>
                                    </ul>
                                </li>
                                <li>
                                    <strong>No parking, dumping, etc.</strong>
                                    <ul>
                                        <li>
                                            No person shall -
                                            <ul>
                                                <li>park any vehicle on any common property or in any open space except in a parking place or with the prior written permission of the Town Council;</li>
                                                <li>use, ride or drive on any common property or in any open space any vehicle, not being a perambulator, a child’s toy vehicle used solely by a child or a mobility aid, except with the prior written permission of the Town Council;</li>
                                                <li>place, deposit, keep or leave, or cause or permit to be placed, deposited, kept or left, any material, article, object or thing on any common property or in any open space, except in such common property or open space designated by the Town Council for that purpose; or</li>
                                                <li>urinate or defecate or permit any dog, cat or other animal belonging to him or in his charge to urinate, defecate or otherwise soil any common property or open space.</li>
                                            </ul>
                                        </li>
                                        <li>Paragraph (1b) does not apply to any common property or open space that is a public path within the Town of Bishan-Toa Payoh.</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="startfrom3">
                            <ul>
                                <li class="this">
                                    <strong>Unauthorised structures</strong>
                                    <ol>
                                        <li>No person shall erect or install or cause or permit to be erected or installed any object, fixture, structure or thing on any common property or in any open space within the Town, except with the prior written permission of the Town Council.</li>

                                        <li>
                                            The Town Council may remove and detain any object, fixture, structure or thing erected or installed on any common property or in any open space within the Town in contravention of paragraph (1) which, in the opinion of the Town Council, is likely to
                                            <ol>
                                                <li>endanger the life of any person;</li>
                                                <li>cause any nuisance or inconvenience to any person;</li>
                                                <li>cause injury to any person; or</li>
                                                <li>cause damage to any common property or the property of any person.</li>
                                            </ol>
                                        </li>
                                        <li>Where the owner or person having lawful possession of the object, fixture, structure or thing can be identified or traced after making reasonable enquiries, the Town Council shall immediately give written notice to the owner or person having lawful possession of the object, fixture, structure or thing removed and detained by the Town Council that he may, on payment of the expenses incurred by the Town Council in such removal and detention, claim possession of it from the Town Council within 30 days of such removal and detention.</li>

                                        <li>
                                            If the object, fixture, structure or thing removed and detained by the Town Council under paragraph (3) is not claimed within 30 days of such      removal and detention by the owner or person having lawful possession thereof, the Town Council may -
                                            <ol>
                                                <li>dispose of such object, fixture, structure or thing by public auction or otherwise; and</li>
                                                <li>apply the proceeds of the sale to the expenses incurred by the Town Council in the removal and detention, and the surplus, if any, shall be paid to such owner or person.</li>
                                            </ol>
                                        </li>
                                    </ol>
                                </li>
                            </ul>
                        </div>
                        <div class="startfrom4">
                            <ul>
                                <li>
                                    <strong>Power to remove and detain vehicles</strong>
                                    <ol>
                                        <li>
                                            Where a vehicle is parked on any common property or in any open space in contravention of any by-law, or appears to have been abandoned on any common property or in any open space, the secretary may, in his discretion and by himself or by an officer authorised by the Town Council (referred to in this by-law as the authorised officer) -
                                            <ol>
                                                <li>remove the vehicle to a place of safety or any other place and detain it thereat; or</li>
                                                <li>prevent the removal of the vehicle without his consent by fixing an immobilisation device to the vehicle. </li>
                                            </ol>
                                        </li>

                                        <li>
                                            Where the secretary or the authorised officer has removed any vehicle to a place of safety or any other place pursuant to paragraph (1a) or fixed an immobilisation device to the vehicle pursuant to paragraph (1b), he shall, with reasonable despatch and provided that the owner can be identified or traced after making reasonable enquiries, give notice in writing to the owner of the vehicle as to the procedure by which he may secure the release of the vehicle, and such notice shall be served on the owner of the vehicle -
                                            <ol>
                                                <li>in the case where the vehicle has been removed to a place of safety or any other place, by post; or</li>
                                                <li>in the case where an immobilisation device has been fixed to the vehicle, by affixing the notice onto the windscreen or any conspicuous part of the vehicle.</li>
                                            </ol>
                                        </li>

                                        <li>
                                            No vehicle which has been removed and detained or to which an immobilisation device has been fixed in accordance with this by-law shall be released to the owner of the vehicle except -
                                            <ol>
                                                <li>by or under the direction of the secretary or the authorised officer; and</li>
                                                <li>upon the owner of the vehicle having paid all expenses incurred by the secretary or the authorised officer, and such other charges as may be imposed under these By-laws.</li>
                                            </ol>
                                        </li>

                                        <li>Any person who, without the authority of the secretary or the authorised officer, removes or tampers with any notice affixed to a vehicle under      paragraph (2b) shall be guilty of an offence.</li>

                                        <li>
                                            Any person who, without being authorised to do so in accordance with this by-law, removes or attempts to remove -
                                            <ol>
                                                <li>any vehicle from any place at which it is being detained under this by-law; or</li>
                                                <li>an immobilisation device fixed to a vehicle in accordance with this by-law, shall be guilty of an offence. </li>
                                            </ol>
                                        </li>

                                        <li>Where any vehicle which has been removed and detained or to which an immobilisation device has been fixed in accordance with this by-law is not claimed by the owner within 30 days after the date notice is given under paragraph (2) of the removal or immobilisation (as the case may be) or the date of the removal or immobilisation if no such notice is given, the Town Council may sell the vehicle or otherwise dispose of it.</li>

                                        <li>
                                            Where any vehicle has been or otherwise disposed of under paragraph (6), the proceeds of the sale or disposal of the vehicle shall be applied -
                                            <ol>
                                                <li>firstly in payment of any expenses incurred in carrying out the provisions of this by-law; and</li>
                                                <li>thereafter in payment of all charges and fines payable under these By-laws, and the surplus, if any, shall be paid to the owner of the vehicle.</li>
                                            </ol>
                                        </li>

                                        <li>In this by-law, “immobilisation device” means any device or appliance designed or adapted to be fixed to any part of a vehicle for the purpose of preventing the vehicle from being driven or otherwise put in motion, being a device or appliance of such type approved by the secretary or an officer authorised by the Town Council in that behalf.</li>
                                    </ol>
                                </li>
                                <li>
                                    <strong>Repairing, painting, etc., of vehicles</strong>
                                    <ol>
                                        <li>No person shall repair, paint, spray, test or service or cause or permit to be repaired, painted, sprayed, tested or serviced any vehicle on any common property or in any open space.</li>

                                        <li>Paragraph (1) shall not apply to such repairs as may be reasonably necessary to enable the vehicle to be removed from the common property or open space. </li>
                                    </ol>
                                </li>
                                <li>
                                    <strong>Playing of games</strong>
                                    <ol>
                                        <li>roller skate;</li>

                                        <li>ride skateboards; or</li>

                                        <li>play or take part in any game specified in a notice which may, by reason of the rules or manner of playing, or for the prevention of damage, danger or discomfort to any person on or in the common property or open space, necessitate at any time during the continuance of the game the exclusive use by the players of any space in such part of the common property or open space, except on or in that part of the common property or open space which has been designated for such purpose in a notice board affixed or set up in some conspicuous position in that part of the common property or open space.</li>
                                    </ol>
                                </li>
                                <li>
                                    <strong>Obstruction of common property</strong>
                                    <ol>
                                        <li>No person shall obstruct or cause or permit the obstruction of the lawful use of any common property with any object, fixture or thing.</li>

                                        <li>The Town Council may remove and detain any object, fixture or thing obstructing the lawful use of any common property.</li>

                                        <li> Where the owner or person having lawful possession of the object, fixture or thing can be identified or traced after making reasonable enquiries, the Town Council shall immediately give written notice to the owner or person having lawful possession of the object, fixture or thing removed and detained by the Town Council that he may, on payment of the expenses incurred by the Town Council in such removal and detention, claim possession of it from the Town Council within 30 days of such removal and detention.</li>

                                        <li>
                                            If the object, fixture or thing removed and detained by the Town Council under paragraph (3) is not claimed within 30 days of such removal and  detention by the owner or person who had lawful possession thereof when it was removed and detained, the Town Council may -
                                            <ol>
                                                <li>sell by public auction or otherwise dispose of such object, fixture or thing; and</li>
                                                <li>the proceeds of the sale or disposal shall be applied firstly to the expenses incurred by the Town Council in the removal, detention and sale or disposal, and the surplus, if any, shall be paid to such owner, occupier or person.</li>
                                            </ol>
                                        </li>
                                    </ol>
                                </li>
                                <li>
                                    <strong>Obstruction of refuse chutes</strong>
                                    <p>No person shall throw or deposit or cause or permit to be thrown or deposited into any refuse chute in a building in any housing estate any object, material, thing, article or substance which will or is likely to choke, clog or obstruct the free fall of refuse in the chute or cause any nuisance, annoyance or inconvenience to other occupiers of the building.</p>
                                </li>
                                <li>
                                    <strong>Littering on common property and open spaces</strong>
                                    <p>No person shall throw or deposit or cause or permit to be thrown or deposited any dust, dirt, ashes, refuse, rubbish or other matter or thing into or onto any common property or open space other than in a refuse chute or other refuse or litter container or receptacle designated for that purpose.</p>
                                </li>
                                <li>
                                    <strong>Throwing objects, etc., from buildings and dangerously positioned objects</strong>
                                    <ol>
                                        <li>No person shall endanger life or property or cause any nuisance, annoyance or inconvenience to any person within the Town by throwing, or  allowing to fall, from his flat or any part of the building in a housing estate within the Town, any object, material, thing, article or substance. </li>

                                        <li>No person shall place any pot, plant, ornament, article, object or substance on or at any window-sill, corridor ledge or common property within the Town in such manner which, in the opinion of the Town Council, is likely to cause injury or cause damage to any common property or the property of any other person.</li>

                                        <li>
                                            The Town Council may remove and detain any pot, plant, ornament, article, object or substance placed on or at any window-sill, corridor ledge or any other part of the common property within the Town which, in the opinion of the Town Council, is likely to -
                                            <ol>
                                                <li>endanger the life of any person;</li>
                                                <li>cause any nuisance or inconvenience to any person;</li>
                                                <li>cause injury to any person; or</li>
                                                <li>cause damage to any common property or the property of any person.</li>
                                            </ol>
                                        </li>
                                        <li>The Town Council may, by notice in writing, direct any owner or occupier of a flat within the Town to remove, within 7 days of the date of such notice, any pot, plant, ornament, article, object or substance placed on or at any window-sill, corridor ledge or any other part of the common property outside the flat in contravention of paragraph (3).</li>

                                        <li>Where the owner or occupier of a flat fails to comply with the notice of the Town Council under paragraph (4), the Town Council may remove and detain the pot, plant, ornament, article, object or substance, as the case may be, and the amount of the expenses incurred by the Town Council in  such removal and detention shall be recoverable from that owner or occupier.</li>

                                        <li>Where, in the opinion of the Town Council, any pot, plant, ornament, article, object or substance placed on or at any window-sill, corridor ledge or any other part of the common property within the Town in contravention of paragraph (3) is an imminent danger to life or person, the Town Council may remove and detain such pot, plant, ornament, article, object or substance without any notice under paragraph (4).</li>

                                        <li>The Town Council shall immediately give written notice to the owner or occupier of the flat or other person having lawful possession of the pot, plant, ornament, article, object or substance removed and detained by the Town Council under paragraph (5) or (6) that he may, on payment of the expenses incurred by the Town Council in such removal and detention, claim possession of it from the Town Council within 30 days of such removal and detention.</li>

                                        <li>
                                            If the pot, plant, ornament, article, object or substance removed and detained by the Town Council under paragraph (5) or (6) is not claimed      within 30 days of such removal and detention by the owner or occupier of the flat or other person who had lawful possession thereof when it was      removed and detained, the Town Council may -
                                            <ol>
                                                <li>dispose of such pot, plant, ornament, article, object or substance by public auction or otherwise; and</li>
                                                <li>apply the proceeds of the sale to the expenses incurred by the Town Council in the removal and detention, and the surplus, if any, shall be paid to such owner, occupier or other person.</li>
                                            </ol>
                                        </li>
                                    </ol>
                                </li>
                                <li>
                                    <strong>Playing of musical instruments, etc., on common property and open spaces</strong>
                                    <ol>
                                        <li>
                                            No person shall, without the permission in writing of the Town Council -
                                            <ol>
                                                <li>beat on any common property or in any open space at any hour, any drum, gong, tambour or tom tom, or blow any whistle, horn, trumpet, flute, pipe, bagpipes or other instrument, or beat or sound any metal or musical instrument or utensil;</li>
                                                <li>operate or cause or suffer to be operated on any common property or in any open space at any hour any gramophone, wireless loud speaker, pianola or other instrument or device capable of mechanically or electronically producing music; or</li>
                                                <li>place or install or cause or suffer to be placed or installed on any common property or in any open space at any hour any speaker or any device through which any sound is capable of being emitted. </li>
                                            </ol>
                                        </li>
                                        <li>
                                            Notwithstanding that the Town Council has granted permission in writing under paragraph (1) to carry out any activity referred to in that      paragraph, any officer or employee of the Town Council may -
                                            <ol>
                                                <li>on the complaint of any user of such common property or open space that such activity is being carried out in such manner as to cause annoyance, inconvenience or other offence; and</li>
                                                <li>after warning the person carrying on that activity, stop the noise either by removal of the instruments or in some other appropriate way. </li>
                                            </ol>
                                        </li>
                                    </ol>
                                </li>
                                <li>
                                    <strong>Damage to turf, plant, shrub or tree</strong>
                                    <ol>
                                        <li>No person shall remove, cut, damage or dispose of any turf, plant, shrub or tree or part thereof situated on any common property or in any open space.</li>

                                        <li>No person shall pick a shrub or plant or part thereof situated on any common property or in any open space. </li>
                                    </ol>
                                </li>
                                <li>
                                    <strong>Diversion of water or electricity</strong>
                                    <ol>
                                        <li>
                                            Except with the prior written permission of the Town Council, no person shall draw, divert or take -
                                            <ol>
                                                <li>any water from any water service installation for the supply of water, tap or pipe situated on any common property; or</li>
                                                <li>any electricity from any electrical installation for the supply of electricity, socket or electrical supply line situated on any common property.</li>
                                            </ol>
                                        <li>The Town Council may, as it sees fit, remove, detain and dispose of any wiring, pipe, installation, device, contraption or other fitting whether situated on any common property or not which, directly or indirectly, assists any person to contravene paragraph (1).</li>
                                    </ol>
                                </li>
                                <li>
                                    <strong>Display of signs</strong>
                                    <p>No person shall display or cause or permit to be displayed any sign on any common property or in any open space except with the approval of the      Town Council. </p>
                                </li>
                                <li>
                                    <strong>Bathing, etc., in fountains, ponds or water features</strong>
                                    <ol>
                                        <li>
                                            No person shall -
                                            <ol>
                                                <li>bathe, wade or wash in; or</li>
                                                <li>cause or permit any animal belonging to him or in his charge to enter or remove anything from, any fountain ponds or water feature which is within the Town and maintained by the Town Council.</li>
                                            </ol>
                                        </li>
                                    </ol>
                                </li>
                                <li>
                                    <strong>Damage to common property</strong>
                                    <ol>
                                        <li>No person shall remove, destroy, damage or deface or remove any earth or soil from any common property.</li>
                                        <li>The costs and expenses including administrative costs incurred by the Town Council in restoring any damaged common property to its condition before such removal, destruction, damage or defacement was done or in replacing earth, soil or any other property that has been removed shall constitute a debt due to the Town Council and shall be recoverable as such./li>
                                    </ol>
                                </li>
                                <li>
                                    <strong>Unauthorised use of common property</strong>
                                    <ol>
                                        <li>No person shall use or cause or suffer to be used the whole or any part of any common property for any purpose which, in the opinion of the Town Council, is inappropriate or would cause annoyance, inconvenience or offence to other users of such common property.</li>

                                        <li>The Town Council may remove and detain any object, fixture, material, thing or article placed on any part of any common property which, in the opinion of the Town Council, is inappropriate or would cause annoyance, inconvenience or offence to other users of such common property.</li>

                                        <li>No removal under paragraph (2) shall be carried out unless the Town Council has given, if possible, the person concerned a written notice requiring him to remove the object, fixture, material, thing or article not later than 7 days from the issue of the notice and the notice has not been complied with.</li>

                                        <li>Where, in the opinion of the Town Council, any object, fixture, material, thing or article is likely to endanger the life of any person or cause injury to any person, the Town Council may remove and detain such object, fixture, material, thing or article without notice under paragraph (3).</li>

                                        <li>Where the owner or person who had lawful possession of the object, fixture, material, thing or article can be identified or traced after making reasonable inquiries, the Town Council shall immediately give written notice to the owner or person who had lawful possession thereof when it was      removed and detained that he may, upon payment of the expenses incurred by the Town Council for such removal and detention, claim possession of      it from the Town Council within 30 days of such removal and detention.</li>

                                        <li>
                                            Where the owner or person who had lawful possession of the object, fixture, material, thing or article, fails to comply with the notice of the Town Council under paragraph (4), the Town Council may -
                                            <ol>
                                                <li>sell by public auction or otherwise dispose of such object, fixture, material, thing or article; and</li>
                                                <li>apply the proceeds of the sale or disposal firstly to the expenses incurred by the Town Council in the removal and detention and sale or disposal, and the surplus, if any, shall be paid to such owner or person.</li>
                                            </ol>
                                        </li>
                                    </ol>
                                </li>
                                <li>
                                    <strong>Service of notices</strong>
                                    <ol>
                                        <li>
                                            Except insofar as these By-laws otherwise expressly provide, any notice required by these By-laws to be served on any person may be served by
                                            <ol>
                                                <li>delivering the notice to that person or delivering the notice at the usual or last known place of residence of that person to some adult member or servant of his family;</li>

                                                <li>sending the notice by registered post to the usual or last known place of residence or business of the person; or</li>

                                                <li>affixing the notice to some conspicuous part of the usual or last known place of residence or business of the person.</li>
                                            </ol>
                                        </li>
                                    </ol>
                                </li>
                                <li>
                                    <strong>Composition of offences</strong>
                                    <p>Every offence under these By-laws shall be a compoundable offence in accordance with section 49 of the Act.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--End By-Laws-->
    </div>

