
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

    <div class="maincontents">
        <form>
            <h1>PROFILE SETTINGS</h1>
            <div class="formLayout">
                <table cellpadding="0" cellspacing="0" border="0" class="tblcreate">
                    <tr>
                        <td class="fieldname">Current Password</td>
                        <td><input type="password" name="currentPwd" id="currentPwd"></td>
                    </tr>
                    <tr>
                        <td class="fieldname">New Password</td>
                        <td><input type="password" name="newPwd" id="newPwd"></td>
                    </tr>
                    <tr>
                        <td class="fieldname">Confirm New Password</td>
                        <td><input type="password" name="confirmPwd" id="confirmPwd"></td>
                    </tr>
                </table>
                <div class="padding10"></div>

                <div class="floatRight"><input type="submit" class="submitBtn" value="Save"></div>
                <div class="clear"></div>
            </div>
        </form>
    </div>
