
@{
    Layout = null;
    var appPath = Convert.ToString(ApplicationInstance.Application["ApplicationPath"]);
}
@model ForgotPassword
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>SITA FOR AIRCRAFT | CMS</title>
    <link rel="stylesheet" type="text/css" href="@appPath/Contents/Admin/css/common.css">
    <script src="@appPath/Contents/Admin/js/jquery-3.4.1.min.js"></script>
    <script src="@appPath/Contents/Admin/common.js" type="text/javascript"></script>
    <!-- MaxCDN Bootstrap plugins -->
    <script src="@appPath/Contents/Admin/js/bootstrap/bootstrap.js"></script>

</head>
<body class="LOGIN">
    <div class="wrapper">
        <div class="loginPage forgotPwd">
            <div class="container">
                &nbsp;
                <div class="logo"><img src="@appPath/Contents/Admin/images/logo-img.png"></div>
                @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { id = "ForgotPasswordForm" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationMessageFor(m => m.UserAccount.Email)
                    @Html.TextBoxFor(m => m.UserAccount.Email, new { @type = "text", @placeholder = "Enter Email", @class = "email" })
                    <input type="button" id="btnForgetPass" class="submitBtn" value="Submit">

                    <a class="resetBtn" href="@appPath/" style="text-decoration: none;color: white;">Cancel</a>

                    <br /> <span id="messageContainer"> </span>
                }
            </div>
        </div>
    </div>
    <footer>Copyright © @DateTime.Now.Year Bishan-Toa Payoh Town Council. All Rights Reserved.</footer>
</body>
</html>